# EDA on Movies dataset

In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("movies.csv")
df.head()

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0

In [28]:
df.shape

(5806, 11)

In [64]:
# How many total movies and shows are there in the dataset?

df[(df["type"] == "MOVIE") | (df["type"] == "SHOW")].shape[0]

5806

In [62]:
# What is the earliest and latest release year in the dataset?

df["release_year"].agg(["min", "max"])

min    1945
max    2022
Name: release_year, dtype: int64

In [60]:
# How many movies have a runtime of more than 120 minutes?

df[(df["type"] == "MOVIE") & (df["runtime"] > 120)].shape[0]

736

In [58]:
# How many shows have more than 3 seasons?

df[(df["type"] == "SHOW") & (df["seasons"] > 3)].shape[0]

305

In [68]:
# What are the different age certifications available in the dataset?

df["age_certification"].dropna().unique()

array(['TV-MA', 'R', 'PG', 'TV-14', 'G', 'PG-13', 'TV-PG', 'TV-Y', 'TV-G',
       'TV-Y7', 'NC-17'], dtype=object)

In [75]:
# Number of movies in the comedy genre
df[(df["type"] == "MOVIE") & (df["genres"].str.contains("Comedy", case=False, na=False))].shape[0]

1543

In [91]:
# Number of shows in the drama genre
df[(df["type"] == "SHOW") & (df["genres"].str.contains("Drama", case=False, na=False))].shape[0]

1037

In [89]:
# Most frequently appearing genre
df["genres"].mode()[0]

"['comedy']"

In [87]:
# Number of movies with multiple genres
df[(df["type"] == "MOVIE") & (df["genres"].str.contains(","))].shape[0]

2684

In [85]:
# Number of shows with only one genre
df[(df["type"] == "SHOW") & (~df["genres"].str.contains(",", na=False))].shape[0]

534

In [95]:
# Average IMDb Rating of Movies
df[df["type"] == "MOVIE"]["imdb_score"].mean()

6.266979747578515

In [97]:
# Highest Rated Movie/Show
df[df["imdb_score"] == df["imdb_score"].max()][["title", "imdb_score"]]

         title  imdb_score
656   Khawatir         9.6
2927  #ABtalks         9.6

In [99]:
# Movie with Most IMDb Votes
df[df["imdb_votes"] == df["imdb_votes"].max()][["title", "imdb_votes"]]

         title  imdb_votes
260  Inception   2268288.0

In [101]:
# Movies & Shows with IMDb > 8.5
df[df["imdb_score"] > 8.5].shape[0]

101

In [103]:
# Most Common IMDb Rating for Movies
df[df["type"] == "MOVIE"]["imdb_score"].mode()[0]

6.2

In [105]:
# Movies & Shows Produced in US
df[df["production_countries"].str.contains("US", na=False)].shape[0]

2327

In [107]:
# Country Producing Most Movies/Shows
df["production_countries"].mode()[0]

"['US']"

In [109]:
# Non-English Movies & Shows Count
df[df["production_countries"] != "US"].shape[0]

5806

In [111]:
# Country with Highest Average IMDb Rating
df.groupby("production_countries")["imdb_score"].mean().idxmax()

"['CU', 'US']"

In [113]:
# Movie Release Trend (if >0 increasing, else decreasing)
df[df["type"] == "MOVIE"].groupby("release_year").size().diff().sum()

107.0